@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
:root {
  --amarelo: #fbc74d;
  --preto: #141414;
  --navColor: #e5e5e5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Elementos base*/
body {
  background-color: var(--preto);
  font-family: "Times New Roman";
  color: white;
}
header {
  padding: 15px 60px;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  background-image: linear-gradient(var(--preto), transparent);
}

header .container {
  background: transparent;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav a {
  text-decoration: none;
  color: var(--navColor);
  margin-left: 17px;
  transition: 0.3s;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
header nav a:hover {
  color: var(--amarelo);
}
.menu-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.menu-right {
  display: flex;
  align-items: center;
}
.menu-right a img {
  border-radius: 4px;
}
.logo {
  color: var(--amarelo);
  font-family: "Arial Black", Times;
  font-size: 30px;
}
/*Filme principal*/

main .main-movie {
  height: 650px;
  padding-left: 60px;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) 100%),
    url("/img/dragon-ball-super.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-family: "Open Sans", sans-serif;
}
.main-container {
  /* background: #aaa; */
  margin-top: 50px;
  width: 40%;
}

.main-title {
  font-weight: 800;
  font-size: 60px;
  line-height: 1;
}
.main-description {
  font-size: 21.5px;
}
/*-------------------------------------------*/
/*Estilos botões*/
.main-buttons {
  margin-top: 20px;
}
.main-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}
.main-buttons .btn:last-child {
  background: rgba(124, 124, 124, 0.8);
  color: white;
  transition: 0.3s;
}
/*Efeitos botões principais*/
.main-buttons .btn:last-child:hover {
  background: rgba(109, 109, 109, 0.5);
  color: white;
}
.main-buttons .btn:first-child:hover {
  transition: 0.3s;
}
.main-buttons .btn:first-child:hover {
  background: rgba(255, 255, 255, 0.5);
}

.btn {
  display: flex;
  align-items: center;

  gap: 8px;
  padding: 10px 27px;
  font-size: 18px;
  font-weight: 700;

  border: none;
  border-radius: 6px;

  cursor: pointer;
}

#btn-info {
  font-size: 20px;
}
#btn-play {
  font-size: 20px;
}
/*-------------------------------------------*/

.menu-input {
  padding: 4px 27px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  display: none;
}

/*box-movie*/
.box-movie {
  height: 100%;
  width: 100%;
  display: block;
}

/*Carrossel*/
.carousel-movie {
  margin-left: 60px;
  font-family: "Open Sanas", sans-serif;
  font-weight: 700;
}
.carousel-movie > p {
  margin: 20px 0;
}
.carousel-movie .owl-carousel .item {
  height: 130px;
  transition: 0.4s;

  cursor: pointer;
}
.carousel-movie .owl-carousel .item:hover {
  opacity: 0.8;
}
.carousel-movie .owl-carousel .item .box-movie {
  border-radius: 4px;
}
/*-------------------------------------------*/
/*Header animation*/
.scrollOne {
  background: var(--preto);
  transition-duration: 0.8s;
}

.scrollZero {
  background-image: linear-gradient(var(--preto), transparent);
  transition-duration: 0.5s;
}
/*-------------------------------------------*/
/* Footer */
footer .container {
  margin-left: 60px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .fab {
  color: var(--amarelo);
  font-size: 30px;
}

footer .fab:hover {
  color: orange;
}

footer .menu-footer {
  display: flex;
  gap: 8px;
}

.owl-dot {
  display: none;
}
